html {
    height: 100%;
}

/*--------------------------------------------WEBPAGE--------------------------------------------*/
body {
    min-height: 100%;
    font-family: -webkit-pictograph;
    line-height: 30px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.header h1 {
    font-weight: 600;
    font-size: 80px;
    text-align: center;
}

.header a {
    color: black;
    text-decoration: transparent;
}

.title h5 {
    text-align: center;
}

.container {
    margin-top: 100px !important;
}

.webpage p {
    width: 75% !important;
    font-size: 18px !important;
}

.container .graphic-image img {
    width: 100% !important;
    align-content: center;
    display: block;
    margin: auto;
}

.feature-title {
    font-weight: 600;
    margin-bottom: .53571em;

}

.drop {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.webpage .row {
    border-bottom: 1px solid #e4e8ed;
    align-items: center;
}

.second {
    flex-direction: row-reverse;
}

/*--------------------------------------------FORM--------------------------------------------*/
.formulari {
    text-align: center !important;
}


/*--------------------------------------------INPUT_TYPE--------------------------------------------*/
.form {
    text-align: center;
}


.card .card-img-top {
    width: 100%;
}

.card .card-body {
    width: 100%;
    margin: auto;
}

.card .card-text {
    text-align: center !important;
}

table, td, th {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

/*--------------------------------------------PREDICT--------------------------------------------*/
.card-results {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    font-size: 18px !important;
}

