{% extends "/Base/webpage.html" %}
{%block form%}
<div class="formulari mt-5 ">
    <h5> {{text}}</h5>
    <form action="{{ url_for('predict')}}" method="post">

        {% if type == "user" %}
        <input type="text" name="word" placeholder="@usuario" required
               oninvalid="this.setCustomValidity('Ingresa un usuario del formato: @usuario')"
               pattern="@([A-Za-z0-9_]{1,15})">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Opciones avanzadas de búsqueda
            </label>
        </div>

        {% else %}
        <input type="text" name="word" placeholder="Introduce texto" required="required">
        <input type="text" name="number" placeholder="Numero de posts" required
               oninvalid="this.setCustomValidity('Ingresa un número de posts a analizar')"
               pattern="(?:[0-9]{1,2}|100)$">
        {% endif %}
        <div id ="dates" class="row_date mt-1">

        </div>

        <button type="submit" name="twitter" class="btn btn-outline-primary mt-1">Predecir</button>
    </form>

</div>

{% endblock %}

