{% extends "/webpage.html" %}
{%block input_rrss%}
<div class="form mt-5">
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="word" placeholder="Introduce la página publica" required="required">
        <button type="submit" name="facebook" class="btn btn-outline-primary">Predecir</button>
        <div id="data" class="row_date mt-1">
           
        </div>
    </form>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault_fb">
                <label class="form-check-label" for="flexCheckDefault_fb">
                    Opciones avanzadas de búsqueda
                </label>
    
</div>

{% endblock %}
